<!DOCTYPE html>
<html>
<head>
    <title><%=data.data[0].title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<script>
    function delmovie(){
        var delform = document.getElementById("delform");
        delform.submit();
    }
</script>
<body>
<h2><%=data.data[0].title%></h2>
<h4>감독 : <%=data.data[0].director%></h4>
<h4>연도 : <%=data.data[0].year%></h4>
<h4>줄거리 : <%=data.data[0].synopsis%></h4>
<h2>한줄평</h2>
<ul>
    <%for(var i=0;i<data.review.length;i++){%>
        <li><%=data.review[i].review%></li>
    <%}%>
</ul>
<form action="/movies/review" method="post">
    <input type="text" name="review">
    <input type="hidden" name="movie_id" value="<%=data.data[0].movie_id%>">
    <input type="submit" value="올리기">
</form>
<form action="/movies/del" method="post" id="delform">
    <input type="hidden" name="movie_id" value="<%=data.data[0].movie_id%>">
</form>
<a href="/movies">영화 목록 보기</a>
<a href="#" onclick="delmovie()">영화 삭제</a>

</body>
</html>
