<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1><%= title %></h1>
<ul>
    <%for(var i in data){%>
        <li><a href="/movies/<%=i%>"><%=i%></a> <a href="/movies/review/detail/<%=i%>">리뷰 보기</a></li>
    <%}%>
</ul>
    <a href="/movies/write">영화 등록</a>

</body>
</html>
